// GLOBAL

$bodyBg: #302729;
$mainTextColor: #a88590;
$dataTextColor: #faefff;

$mainFontFamily: 'Poppins',
sans-serif;

// MEDIA QUERIES

$hideMenuWidth: 1500px;
$servColWidth: 1200px;
$homeColWidth: 1010px;
$portfColWidth: 900px;
$menuUpWidth: 800px;
$menuNumHide: 900px;


// NAVIGATION

$navBgColor: #362b2E;
$navWidth: 380px;
$navNumColor: #c6646b;
$navTextColor: #fff;


// HEADERS

$headerColor: #f37b83;


// SECTION HOME

$homeDataBg: #F9F0FF;


// SECTION SKILLS

$skillBaseColor: #554247;